<div class="row">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div class="panel panel-default" style="margin-left: 50px; margin-right: 50px">
        <div class="panel-heading"><h4 style="margin-left: 50px">Library Management System Project</h4></div>
        <div class="panel-body">
            <div class="row" style="margin: 30px">
                <div  align="justify">A college library management is a project that manages and stores books information electronically according to students needs. The system helps both students and library manager to keep a constant track of all the books available in the library. It allows both the admin and the student to search for the desired book. It becomes necessary for colleges to keep a continuous check on the books issued and returned and even calculate fine. This task if carried out manually will be tedious and includes chances of mistakes. These errors are avoided by allowing the system to keep track of information such as issue date, last date to return the book and even fine information and thus there is no need to keep manual track of this information which thereby avoids chances of mistakes.<br>
                    Thus this system reduces manual work to a great extent allows smooth flow of library activities by removing chances of errors in the details.<p></p>
                    <p><strong>Modules:</strong></p>
                    <ul>
                        <li><strong>Admin login:</strong> Admin is the one who administers the system by adding or removing e-books into and from the system respectively.</li>
                        <li><strong>Add and Update Books:</strong> The admin can add books to the system by entering the details of the books and can even update the details.</li>
                        <li><strong>Search option:</strong> Admin and Students can even search for books by entering the name of the book.</li>
                        <li><strong>View Order-</strong>The admin can view order for the books.</li>
                        <li><strong>Place order-</strong> The students can place order for the books and simultaneously the quantity of the book ordered will be decremented.</li>
                        <li><strong>Calculate Fine-</strong> The student can view the issue and expiry date for the book issued and can even calculate fine.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
