


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Library Management</h3>
            <strong>LBM</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a ui-sref="dashboard.jobs" id="mainHomelink">
                    <i class="glyphicon glyphicon-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    About
                </a>
            </li>
            <li>
                <a href="#"  class="linkcollapse" id="memberHomelink" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-user"></i>
                    Member
                </a>
                <ul class="list-unstyled" id="pageSubmenu1">
                    <li><a ui-sref=".createMember">Create Member</a></li>
                    <li><a ui-sref=".allMember">Total Members</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>

                <a href="#" class="linkcollapse"  id="bookHomelink" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-book"></i>
                    Book
                </a>
                <ul class="list-unstyled" id="pageSubmenu">
                    <li><a ui-sref=".createBook">Create Book</a></li>
                    <li><a ui-sref=".allBooks">All Books</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a ui-sref=".charts">
                    <i class="glyphicon glyphicon-link"></i>
                    Charts
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-paperclip"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-send"></i>
                    Contact
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-primary">
            <div class="container-fluid">
                    <ul type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </ul>
                    <ul class="dropdown nav navbar-top-links navbar-right">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="fa fa-caret-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>
                                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li><a ui-sref="login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
            </div>
        </nav>
        <div data-ui-view="" style="padding-left: 20px"></div>
    </div>
</div>
