<div class="row">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div class="col-md-5 col-md-offset-1" style="text-align: center; width: 100%">
        <toaster-container  style="width: 100%; padding: 10px; text-align: center; " toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
    </div>
        <div class="panel panel-default" style="margin: 50px; margin-top: 20px; min-height: 600px">
            <div class="panel-body">
                <div class="col-md-6 col-md-offset-1" style="margin-top: 20px">
                    <form name="bookForm" id="bookForm" ng-submit="createBook(bookForm.$valid)" novalidate>
                        <div class="form-group">
                            <label>Book Name:</label>
                            <div class="input-group ">
                                <div class="input-group-addon">
                                    <i></i>
                                </div>
                                <input type="text" name="bookName" class="form-control" ng-model="book.bookName" required>

                            </div>
                            <p ng-show="bookForm.bookName.$invalid && !bookForm.bookName.$pristine" class="help-block">Book name is required.</p>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label>Author Name:</label>

                            <div class="input-group ">
                                <div class="input-group-addon">
                                    <i></i>
                                </div>
                                <input type="text" name="author" class="form-control" ng-model="book.author" required>
                            </div>
                            <p ng-show="bookForm.author.$invalid && !bookForm.author.$pristine" class="help-block">Author name is required.</p>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label>Department Name:</label>

                            <div class="input-group ">
                                <div class="input-group-addon">
                                    <i></i>
                                </div>
                                <input type="text" name="department" class="form-control" ng-model="book.department" required>
                            </div>
                            <p ng-show="bookForm.department.$invalid && !bookForm.department.$pristine" class="help-block">Department name is required.</p>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-success" ng-disabled="bookForm.$invalid">Submit</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block btn-danger"ng-click="close()" >Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>