<div class="row">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div class="col-md-5 col-md-offset-1" style="text-align: center; width: 100%">
        <toaster-container  style="width: 100%; padding: 10px; text-align: center; " toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
    </div>
    <div class="panel panel-default" style="margin: 50px; margin-top: 20px">
        <div class="panel-body">
            <div class="col-md-6 col-md-offset-1" style="margin-top: 20px">
                <form id="createUserForm" name="createUserForm" ng-submit="createUser(createUserForm.$valid)" novalidate>
                    <div class="form-group">
                        <label>User Name:</label>

                        <div class="input-group ">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                            <input type="text" name="firstName" class="form-control" ng-model="user.username" required>
                        </div>
                        <p ng-show="createUserForm.username.$invalid && !createUserForm.username.$pristine" class="help-block">User Name is required.</p>

                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Email ID:</label>

                        <div class="input-group ">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                            <input type="email" name="email" class="form-control" ng-model="user.email" required>

                        </div>
                        <p ng-show="createUserForm.email.$invalid && !createUserForm.email.$pristine" class="help-block">Email is required.</p>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Role:</label>

                        <div class="input-group ">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                            <select name="role" class="form-control" ng-model="user.role" required>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                        </div>
                        <p ng-show="createUserForm.role.$invalid && !createUserForm.role.$pristine" class="help-block">Role is required.</p>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Password:</label>

                        <div class="input-group ">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                            <input type="password" name="password1" class="form-control" ng-model="user.password1" required>
                        </div>
                        <p ng-show="createUserForm.password1.$invalid && !createUserForm.password1.$pristine" class="help-block">Password is required.</p>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Confirm Password:</label>

                        <div class="input-group ">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                            <input type="password" name="password" class="form-control" ng-model="user.password" required>
                        </div>
                        <p ng-if="user.password1!=user.password && createUserForm.password.$dirty" class="help-block">Password not match.</p>
                        <p ng-show="createUserForm.password.$invalid && !createUserForm.password.$pristine" class="help-block">Confirm Password is required.</p>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success" ng-disabled="createUserForm.$invalid">Submit</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-block btn-danger" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
