<div class="col-md-10 col-md-offset-1" style="background-color: white;padding: 40px;border-radius: 10px">
    <form name="bookForm" id="bookForm" ng-submit="editBookCall(bookForm.$valid)" novalidate>
        <div class="form-group">
            <label>Book ID:</label>

            <div class="input-group ">
                <div class="input-group-addon">
                    <i></i>
                </div>
                <input type="text" name="author" class="form-control" ng-model="book.bookId" ng-disabled="true" required>
            </div>
            <!-- /.input group -->
        </div>
        <div class="form-group">
            <label>Book Name:</label>
            <div class="input-group ">
                <div class="input-group-addon">
                    <i></i>
                </div>
                <input type="text" name="bookName" class="form-control" ng-model="book.bookName" required>

            </div>
            <p ng-show="bookForm.bookName.$invalid && !bookForm.bookName.$pristine" class="help-block">Book name is required.</p>
            <!-- /.input group -->
        </div>
        <div class="form-group">
            <label>Author Name:</label>

            <div class="input-group ">
                <div class="input-group-addon">
                    <i></i>
                </div>
                <input type="text" name="author" class="form-control" ng-model="book.author" required>
            </div>
            <p ng-show="bookForm.author.$invalid && !bookForm.author.$pristine" class="help-block">Author name is required.</p>
            <!-- /.input group -->
        </div>
        <div class="form-group">
            <label>Department Name:</label>

            <div class="input-group ">
                <div class="input-group-addon">
                    <i></i>
                </div>
                <input type="text" name="department" class="form-control" ng-model="book.department" required>
            </div>
            <p ng-show="bookForm.department.$invalid && !bookForm.department.$pristine" class="help-block">Department name is required.</p>
            <!-- /.input group -->
        </div>
        <div class="form-group" style="display: none">
            <label>Available Date:</label>

            <div class="input-group ">
                <div class="input-group-addon">
                    <i></i>
                </div>
                <input type="text" name="department" class="form-control" ng-model="book.availableDate" required>
            </div>
            <p ng-show="bookForm.availableDate.$invalid && !bookForm.availableDate.$pristine" class="help-block">Available date is required.</p>
            <!-- /.input group -->
        </div>
        <div class="form-group" style="display: none">
            <label>Available:</label>

            <div class="input-group ">
                <div class="input-group-addon">
                    <i></i>
                </div>
                <input type="text" name="department" class="form-control" ng-model="book.isAvailable" ng-disabled="true" required>
            </div>
            <!-- /.input group -->
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-success" ng-disabled="bookForm.$invalid">Update</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-block btn-danger" ng-click="cancel()" >Cancel</button>
        </div>
    </form>
</div>