<div class="row">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div class="col-md-5 col-md-offset-1" style="text-align: center; width: 100%">
        <toaster-container  style="width: 100%; padding: 10px; text-align: center; " toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
    </div>
    <div class="panel panel-default" style="margin: 50px; margin-top: 20px; min-height: 600px">
        <div  class="panel-heading">
            <strong><h3>User Profile</h3></strong><br>
        </div>
        <div class="panel-body">
            <div class="col-md-9 col-md-offset-1 col-sm-11 table-responsive" style="margin-top: 50px">
                <table class="table-responsive" style="border: none">
                    <button class="btn btn-primary btn-sm pull-right" style="margin: 5px" ng-click='editProfile(userData)' ng-if="edit">Edit</button>
                    <button class="btn btn-warning btn-sm pull-right" style="margin: 5px" ng-click='back(userData)' ng-if="!edit">Back</button>
                    <button class="btn btn-primary btn-sm pull-right" style="margin: 5px" ng-click='updateProfile(userData1)' ng-if="!edit">Update</button>

                    <tbody>
                    <tr class="memberlist">
                        <td><strong>User Name </strong></td>
                        <td><strong></strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span  ng-if="edit">{{userData.username}}</span>
                            <span ng-if="!edit"><input type="text" name="userName" class="form-control"  ng-model="userData1.username"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Email Id </strong></td>
                        <td><strong></strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span >{{userData.email}}</span>
                            <!--<span ng-if="!edit"><input type="text" name="memberName" class="form-control"  ng-model="fechMemobj.firstName"></span>-->
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Role </strong></td>
                        <td><strong></strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span>{{userData.role}}</span>
                            <!--<span ng-if="!edit"><input type="text" name="memberName" class="form-control"  ng-model="fechMemobj.firstName"></span>-->
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Role </strong></td>
                        <td><strong></strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span >{{userData.fine}}</span>
                            <!--<span ng-if="!edit"><input type="text" name="memberName" class="form-control"  ng-model="fechMemobj.firstName"></span>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
