<div class="row">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div class="col-md-5 col-md-offset-1" style="text-align: center; width: 100%">
        <toaster-container  style="width: 100%; padding: 10px; text-align: center; " toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
    </div>
    <div class="panel panel-default" style="margin: 50px; margin-top: 20px; min-height: 600px">
        <div  class="panel-heading">
            <div class="input-group col-md-3 col-sm-10" style="margin: 10px; border-radius: 10px ">
                <form class="form-group" ng-submit="fetchMember(memberId)">
                    <label>Enter Member ID to Search:</label>
                    <div class="input-group ">
                        <input type="text" name="memberId" class="form-control" placeholder="Ex M1001" ng-model="memberId" required>
                        <div class="input-group-addon">
                            <button type="submit" class=" fa fa-search"  ></button>
                        </div>
                    </div>
                    <p ng-show="memberId.$invalid && !memberId.$pristine" class="help-block">member ID is required.</p>
                    <p ng-show="getmember" class="help-block">Member is not Available.</p>
                    <!-- /.input group -->
                </form>
            </div>
        </div>
        <div class="panel-body" ng-hide="memberdata">
            <div class="col-md-9 col-md-offset-1 col-sm-11 table-responsive" style="margin-top: 20px">

                <table class="table-responsive" style="border: none">
                    <tbody>
                    <thead>
                <strong class="memberlist"><h3>Member Information</h3></strong><br>
                <button class="btn btn-danger btn-sm pull-right" style="margin: 5px" ng-click='delete(fechMemobj)' ng-if="edit">Delete</button>
                <button class="btn btn-primary btn-sm pull-right" style="margin: 5px" ng-click='editMember(fechMemobj)' ng-if="edit">Edit</button>
                <button class="btn btn-warning btn-sm pull-right" style="margin: 5px" ng-click='back(fechMemobj)' ng-if="!edit">Back</button>
                <button class="btn btn-primary btn-sm pull-right" style="margin: 5px" ng-click='updateMember()' ng-if="!edit">Update</button>
                    </thead>
                    <tr class="memberlist">
                        <td><strong>Member Id </strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td>{{fechMemobj.memberId}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Name </strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.firstName | capitalize}}</span>
                            <span ng-if="!edit"><input type="text" name="memberName" class="form-control"  ng-model="fechMemobj1.firstName"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Pin</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.pin | uppercase}}</span>
                            <span ng-if="!edit"><input type="text" name="pin" class="form-control"  ng-model="fechMemobj1.pin"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Gender</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.gender}}</span>
                            <span ng-if="!edit"> <label class="radio-inline">
                                <input type="radio" name="gender" checked="checked" ng-model="fechMemobj1.gender" value="Male" required> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender"  ng-model="fechMemobj1.gender" value="Female" required> Female
                            </label></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>DOB</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.dob | date:'dd MMM yyyy'}}</span>
                            <span ng-if="!edit" class="input-group ">
                            <input type="text" name="dob" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="fechMemobj1.dob" is-open="opened" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" required />
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Email ID</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.email}}</span>
                            <span ng-if="!edit"><input type="email" name="email" class="form-control"  ng-model="fechMemobj1.email"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Department</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.department | capitalize}}</span>
                            <span ng-if="!edit">
                                <select name="department" class="form-control" ng-model="fechBookobj1.department" required>
                                    <option value="ECE">ECE</option>
                                    <option value="EEE">EEE</option>
                                    <option value="CSE">CSE</option>
                                    <option value="MECH">MECH</option>
                                    <option value="CIVIL">CIVIL</option>
                                    <option value="MCA">MCA</option>
                                    <option value="MBA">MBA</option>
                                </select>
                            </span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Member Type</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td>{{fechMemobj.membertype | capitalize}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Join Date</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.joinDate | date:'dd MMM yyyy'}}</span>
                            <span ng-if="!edit">{{fechMemobj1.joinDate | date:'dd MMM yyyy'}}</span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Book Limit</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.bookLimit}}</span>
                            <span ng-if="!edit">{{fechMemobj1.bookLimit}}</span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Fine</strong></td>
                        <td><strong>&nbsp;&nbsp;:&nbsp;&nbsp;</strong></td>
                        <td>{{fechMemobj.fine}}</td>
                        <td>&emsp;<button class="btn btn-primary btn-sm pull-right" ng-disabled="fechMemobj.fine==0" style="margin: 5px; margin-left:350px" ng-click='payFine()'>Pay Fine</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--total books issued to member-->
            <div class="col-md-9 col-md-offset-1 col-sm-11 table-responsive" style="margin-top: 20px">
                <table class="table table-bordered table-striped  table-condensed table-hover table-responsive" id="table1">
                    <thead>
                    <tr style="width: 50px">
                        <th>Book Issue ID</th>
                        <th>Book ID</th>
                        <th>Book Name</th>
                        <th>Department</th>
                        <th>Issued Date</th>
                        <th>Return Date</th>
                        <th>Issued By</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="fechMemIssueBook in fechMemIssueBooks">
                        <!--<tr ng-repeat="member in totalMembers| orderBy:filterType | filter: searchText">-->
                        <td>{{fechMemIssueBook.bookIssueId}}</td>
                        <td>{{fechMemIssueBook.bookId}}</td>
                        <td>{{fechMemIssueBook.book.bookName | capitalize}}</td>
                        <td>{{fechMemIssueBook.book.department | capitalize}}</td>
                        <td>{{fechMemIssueBook.issuedDate | date:'dd MMM yyyy'}}</td>
                        <td>{{fechMemIssueBook.returnDate | date:'dd MMM yyyy'}}</td>
                        <td>{{fechMemIssueBook.issuedBy}}</td>
                        <td><button class="btn btn-warning btn-sm" style="margin: 5px" ng-click='returnBook(fechMemIssueBook.bookIssueId)'>Return Book</button></td>
                    </tr>
                    </tbody>
                    <tfoot ng-if="fechMemIssueBooks.length==0">
                     <td colspan="8" style="text-align: center"><h4>No Books Issued to this Member</h4></td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
