<div class="row">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div class="col-md-5 col-md-offset-1" style="text-align: center; width: 100%">
        <toaster-container  style="width: 100%; padding: 10px; text-align: center; " toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
    </div>
    <div class="panel panel-default" style="margin: 50px; margin-top: 20px; min-height: 600px">
        <div  class="panel-heading">
            <div class="input-group col-md-3 col-sm-10" style="margin: 10px; border-radius: 10px ">
                <div class="form-group">
                    <label>Enter Member ID to Search:</label>
                    <div class="input-group ">
                        <input type="text" name="memberId" class="form-control" ng-model="memberId" required>
                        <div class="input-group-addon">
                            <i class=" fa fa-search"  ng-click="fetchMember(memberId)"></i>
                        </div>
                    </div>
                    <p ng-show="memberId.$invalid && !memberId.$pristine" class="help-block">member ID is required.</p>
                    <!-- /.input group -->
                </div>
            </div>
        </div>
        <div class="panel-body" ng-hide="memberdata">
            <div class="col-md-6 col-md-offset-1 col-sm-11" style="margin-top: 20px">
                <table class=" table-responsive" style="border: none">
                    <strong class="memberlist"><h3>Member Information</h3></strong><br>
                    <tbody>
                    <tr class="memberlist">
                        <td><strong>Member Name </strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.firstName}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Pin</strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.pin}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Gender</strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.gender}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Dob</strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.dob | date:'dd MMM yyyy'}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Email</strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.email}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Department</strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.department}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>JoinDate</strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.joinDate | date:'dd MMM yyyy'}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Fine</strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.fine}}</td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Book Limit</strong></td>
                        <td><strong></strong>:</strong></td>
                        <td>{{fechMemobj.bookLimit}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--<form name="updateMemberForm" id="updateMemberForm" ng-submit="updateMember(updateMemberForm.$valid)" novalidate>

                    &lt;!&ndash;<div class="form-group">
                        <label>Member Name:</label>
                        <div class="input-group ">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                            <input type="text" name="memberName" class="form-control"  ng-model="fechMemobj.firstName" readonly>
                        </div>
                        &lt;!&ndash; /.input group &ndash;&gt;
                    </div>
                    <div class="form-group">
                        <label>Pin:</label>
                        <div class="input-group ">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                            <input type="text" name="pin" class="form-control"  ng-model="fechMemobj.pin" readonly>
                        </div>
                        &lt;!&ndash; /.input group &ndash;&gt;
                    </div>
                    <div class="form-group">
                        <label>Gender:</label>
                        <div class="input-group ">
                            <div class="input-group-addon">
                                <i></i>
                            </div>
                            <input type="text" name="pin" class="form-control"  ng-model="fechMemobj.gender" readonly>
                        </div>
                        &lt;!&ndash; /.input group &ndash;&gt;
                    </div>&ndash;&gt;
                    <div class="col-md-6">

                    </div>
                    &lt;!&ndash;"memberId": "M1004",
                    "pin": "11uasgvfgf66df",
                    "firstName": "venkhfattessdh",
                    "lastName": "k",
                    "__v": 0,
                    "department": "mech",
                    "gender": "Male",
                    "email": "sr@gmail.com",
                    "dob": "2008-05-13T18:30:00.000Z",
                    "joinDate": "2018-04-06T06:27:16.695Z",
                    "fine": 0,
                    "bookLimit": 3&ndash;&gt;
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success" ng-disabled="updateMemberForm.$invalid">Submit</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-block btn-danger"ng-click="cancel()" >Cancel</button>
                    </div>
                </form>-->
            </div>
        </div>
    </div>
</div>