<div class="row">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div class="col-md-5 col-md-offset-1" style="text-align: center; width: 100%">
        <toaster-container  style="width: 100%; padding: 10px; text-align: center; " toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
    </div>
    <div class="panel panel-default" style="margin: 50px; margin-top: 20px; min-height: 600px">
        <div  class="panel-heading">
            <div class="input-group col-md-3 col-sm-10" style="margin: 10px; border-radius: 10px ">
                <div class="form-group">
                    <label>Enter Book ID to Search:</label>
                    <div class="input-group ">
                        <input type="text" name="bookId" class="form-control" ng-model="bookId" required>
                        <div class="input-group-addon">
                            <i class=" fa fa-search"  ng-click="fetchBook(bookId)"></i>
                        </div>
                    </div>
                    <p ng-show="bookId.$invalid && !bookId.$pristine" class="help-block">Book ID is required.</p>
                    <!-- /.input group -->
                </div>
            </div>
        </div>
        <div class="panel-body" ng-hide="bookdata">
            <div class="col-md-9 col-md-offset-1 col-sm-11" style="margin-top: 20px">
                <table class="table-responsive" style="border: none">
                    <strong class="memberlist"><h3>Book Information</h3></strong><br>
                    <button class="btn btn-danger btn-sm pull-right" style="margin: 5px" ng-click='deleteBook(fechBookobj)' ng-if="edit">Delete</button>
                    <button class="btn btn-primary btn-sm pull-right" style="margin: 5px" ng-click='editBook(fechBookobj)' ng-if="edit">Edit</button>
                    <button class="btn btn-warning btn-sm pull-right" style="margin: 5px" ng-click='back(fechBookobj)' ng-if="!edit">Back</button>
                    <button class="btn btn-primary btn-sm pull-right" style="margin: 5px" ng-click='updateBook(fechBookobj)' ng-if="!edit">Update</button>
                    <tbody>
                    <tr class="memberlist">
                        <td><strong>Name </strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechBookobj.bookName}}</span>
                            <span ng-if="!edit"><input type="text" name="bookName" class="form-control"  ng-model="fechBookobj1.bookName"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Department</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechBookobj.department}}</span>
                            <span ng-if="!edit"><input type="text" name="department" class="form-control"  ng-model="fechBookobj1.department"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Available Date</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechBookobj.availableDate | date:'dd MMM yyyy'}}</span>
                            <span ng-if="!edit"><input type="availableDate" name="availableDate" class="form-control"  ng-model="fechBookobj1.availableDate | date:'dd MMM yyyy'"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>