<div class="row">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div class="col-md-5 col-md-offset-1" style="text-align: center; width: 100%">
        <toaster-container  style="width: 100%; padding: 10px; text-align: center; " toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
    </div>
    <div class="panel panel-default" style="margin: 50px; margin-top: 20px; min-height: 600px">
        <div  class="panel-heading">
            <div class="input-group col-md-3 col-sm-10" style="margin: 10px; border-radius: 10px ">
                <div class="form-group">
                    <label>Enter Member ID to Search:</label>
                    <div class="input-group ">
                        <input type="text" name="memberId" class="form-control" ng-model="memberId" required>
                        <div class="input-group-addon">
                            <i class=" fa fa-search"  ng-click="fetchMember(memberId)"></i>
                        </div>
                    </div>
                    <p ng-show="memberId.$invalid && !memberId.$pristine" class="help-block">member ID is required.</p>
                    <!-- /.input group -->
                </div>
            </div>
        </div>
        <div class="panel-body" ng-hide="memberdata">
            <div class="col-md-9 col-md-offset-1 col-sm-11" style="margin-top: 20px">
                <table class="table-responsive" style="border: none">
                    <strong class="memberlist"><h3>Member Information</h3></strong><br>
                    <button class="btn btn-warning btn-sm pull-right" style="margin: 5px" ng-click='editMember(fechMemobj)' ng-if="edit">Edit</button>
                    <button class="btn btn-warning btn-sm pull-right" style="margin: 5px" ng-click='updateMember(fechMemobj)' ng-if="!edit">Update</button>
                    <button class="btn btn-warning btn-sm pull-right" style="margin: 5px" ng-click='back(fechMemobj)' ng-if="!edit">Back</button>
                    <tbody>
                    <tr class="memberlist">
                        <td><strong>Name </strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.firstName}}</span>
                            <span ng-if="!edit"><input type="text" name="memberName" class="form-control"  ng-model="fechMemobj.firstName"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Pin</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.pin}}</span>
                            <span ng-if="!edit"><input type="text" name="pin" class="form-control"  ng-model="fechMemobj.pin"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Gender</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.gender}}</span>
                            <span ng-if="!edit"> <label class="radio-inline">
                                <input type="radio" name="gender" checked="checked" ng-model="fechMemobj.gender" value="Male" required> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender"  ng-model="fechMemobj.gender" value="Female" required> Female
                            </label></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>DOB</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.dob | date:'dd MMM yyyy'}}</span>
                            <span ng-if="!edit"><input type="date" name="date" class="form-control"  ng-model="fechMemobj.dob | date:'dd MMM yyyy'"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Email ID</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.email}}</span>
                            <span ng-if="!edit"><input type="email" name="email" class="form-control"  ng-model="fechMemobj.email"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Department</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.department}}</span>
                            <span ng-if="!edit"><input type="text" name="department" class="form-control"  ng-model="fechMemobj.department"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Join Date</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.joinDate | date:'dd MMM yyyy'}}</span>
                            <span ng-if="!edit"><input type="date" name="Join date" class="form-control"  ng-model="fechMemobj.joinDate | date:'dd MMM yyyy'"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Fine</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.fine}}</span>
                            <span ng-if="!edit"><input type="text" name="Fine" class="form-control"  ng-model="fechMemobj.fine"></span>
                        </td>
                    </tr>
                    <tr class="memberlist">
                        <td><strong>Book Limit</strong></td>
                        <td><strong></strong>&nbsp;:&nbsp;</strong></td>
                        <td><span ng-if="edit">{{fechMemobj.bookLimit}}</span>
                            <span ng-if="!edit"><input type="text" name="BookLimit" class="form-control"  ng-model="fechMemobj.bookLimit"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
