body {
    background-attachment: fixed;

    background-size: cover;

    font-family: 'Roboto', sans-serif;

	}
.login-form{
    margin-top: 100px;
}

.loginform {
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    background: rgba(10, 28, 54, 0.6);
    padding: 30px;
	}
.panel{
    margin: 10px;
}
h1{

    size: 30pt;

	}
.messages{
    text-align: center;
    height: 200px;
    border: solid;
}
.address{
    margin-top: 10px;
    text-align: center;
}
.help-block{
    color: red;
}
th{
    margin: 2px;
    color: white;
}
.memberlist{
    height: 45px;
}
thead{
    background-color: #7386D5;

}
.usermenu{
   background: #fafafa;
}
.panel-home{
    background: rgba(0,0,0,0.5);
}