<div class="panel panel-default">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}"></div>
    <div  class="panel-heading">
        <div class="input-group col-md-3 col-sm-10" style="margin: 10px; border-radius: 10px ">
            <input type="text" class="form-control"  ng-model="searchText" placeholder="search">
            <div class="input-group-addon">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div style="margin: 10px">
            View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.
        </div>
        <div class="table-responsive table-striped table-hover">
            <table class="table table-bordered table-striped  table-condensed table-hover table-responsive">
                <thead>
                <tr>
                    <th class="id" ng-click="sort_by('bookId')">Book ID&nbsp;<i class="glyphicon pull-right" ng-class="getIcon('bookId')"></i></th>
                    <th class="name" ng-click="sort_by('bookName')">Book Name<i class="glyphicon pull-right" ng-class="getIcon('bookName')"></i></th>
                    <th class="description" ng-click="sort_by('department')">Deparment<i class="glyphicon pull-right" ng-class="getIcon('department')"></i></th>
                    <th class="field3" ng-click="sort_by('availableDate')">Avaliable Date<i class="glyphicon pull-right" ng-class="getIcon('availableDate')"></i></th>
                    <th class="field4" ng-click="sort_by('isAvailable')">Available<i class="glyphicon pull-right" ng-class="getIcon('isAvailable')"></i></th>
                    <th class="field5"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="book in totalBooks.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:sort.active:sort.descending | filter:searchText">
                    <td>{{book.bookId}}</td>
                    <td>{{book.bookName | capitalize}}</td>
                    <td>{{book.department | capitalize}}</td>
                    <td>{{book.availableDate | date:'dd MMM yyyy'}}</td>
                    <td>{{book.isAvailable}}</td>
                    <td><button class="btn btn-warning btn-sm" style="margin: 5px" ng-click='editBook(book)'>Edit</button><button class="btn btn-danger btn-sm" style="margin: 5px" ng-click='delete(book)'>Delete</button></td>
                </tr>
                </tbody>
                <tfoot>
                <td colspan="6">
                    <div class="pagination pull-right">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></ul>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>